* {
	color: #;
}

body {
	background: #c1c1c1;
	background-image: url(./../images/background.png)
}

/*Header & Footer*/
	#headerfooter {
		width: 100%;
		height: 100%;
	}

	.footer {
		clear: both;
		background: #fcfcfc;
		text-align: center;
		padding: 14px;
		position: fixed;
		width: 100%;
	    bottom: 0;
	    margin: 0 auto;
	}


/*Index Content*/
	.panel-heading {
		font-size: 26px;
		font-weight: bold;
		width:100%; 
		height: auto; 
		background: black;
		
	}

	#walloftext {
		padding: 26px;
		font-size: 18px;
		line-height: 200%;
	}

	#face {
		float: left;
		padding: 10px 26px 26px 0px;
	}


/*Portfolio Content*/
	.allP {
		min-width:426px;
	}

	.portfolios {
		display: inline-block; 
		position: relative; 
		left:18px;
		overflow: auto;
	}

	#portfolioimg {
		position: relative;
		padding: 36px 10px;
		width: 92%;
		height: 92%;
	}

	#portfolioimgtext {
		position: absolute; 
		top: 159px;
		left: 16px;
		padding: 10px; 
		background: rgba(252, 252, 252, 0.8);
		font-size: 22px;
		background-size: 100%; 
	}


/*Contact Content*/
	.inputs {
		padding: 20px;
	}

	#textbox {
		width: 100%;
		height: 100%;
	}


/*Side Connect*/
	.connect {
		position: relative;
		padding: 2px;
    	width: 100%;
	}

	#styledimg {
		padding: 2px;
	}

/*
	  These rules take effect when the browser's width
	  is either 991px or less.
	*/
		@media (max-width:991px) {
			.connect {

			}

			#portfolioimg {
		    	width:70%;
		    	height:70%;
		  }

		}
